<nav class="navbar-container navbar-link-home">
  <a class="navbar-link" href="/signup">Signup</a>
  <a class="navbar-link" href="/login">Login</a>
</nav>

{{!-- <div class="overview-container">
  <p>Title</p>
  <p>Description</p>
</div> --}}
<div class="content">
<h2>Browse through artisans in different areas and find one where you are visiting</h2><br>
</div>


{{#each experienceList}}

<div class="experience-container">
  <div>
    <img class="image" src="{{imgPath}}" alt="{{imgName}}">
  </div>
  <div class="title">
    <h3>{{title}}</h3>
  </div>
  <div class="description-experiences">
    <p>{{description}}</p>
    </div>
    <a class="see-more" href="/experience/{{_id}}">Details</a>
  </div>
</div>

{{/each}}

<div class="footer">
<a href="/inputForm" id"inputForm" class="input-form">Share your own Experience</a> 
<a href="/landing" id="main-pg" class="main-pg">Back to Main Page</a>
</div>