<nav class="navbar-container navbar-link-home">
  <a class="navbar-link" href="/signup">Signup</a>
  <a class="navbar-link" href="/login">Login</a>
</nav>

<div class="overview-container">
  <p>Title</p>
  <p>Description</p>
</div>

<h2>Browse experiences</h2>
<p> Here you can find an an overview of every artisan on our site </p>

{{#each experienceList}}

<div class="experience-container">
  <div>
    <<img src="{{imgPath}}" alt="{{imgName}}">>
  </div>
  <div>
    <h3>{{title}}</h3>
    <p>{{description}}</p>
    <a href="/experience/{{_id}}">See more...</a>
  </div>
</div>

{{/each}}

<a href="/inputForm" id"inputForm" class="input-form">Share your own Experience</a> 

<a href = "/landing" id="main-pg" class="main-pg">Back to Main Page</a>